<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>


<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Account info</h1>
            </div>
            <div class="row col-md-12 form-container" th:object="${account}">
                <div class="row col-md-12 form-row-container">
                    <div class="col-md-6">
                        <label for="id">Id:</label>
                    </div>
                    <div class="col-md-6 value-cell" id="id" th:text="*{id}">
                    </div>
                </div>

                <div class="row col-md-12 form-row-container">
                    <div class="col-md-6">
                        <label for="userName">User name:</label>
                    </div>

                    <div class="col-md-6 value-cell" id="userName" th:text="*{username}">
                    </div>
                </div>

                <!--<div class="row col-md-12 form-row-container">-->
                    <!--<div class="col-md-6">-->
                        <!--<label for="products">Products:</label>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="col-md-6 value-cell" id="products" th:field="${account.}">&ndash;&gt;-->
                        <!--&lt;!&ndash;&ndash;&gt;-->
                        <!--&lt;!&ndash;&ndash;&gt;-->
                        <!--&lt;!&ndash;&ndash;&gt;-->
                        <!--&lt;!&ndash;&ndash;&gt;-->
                        <!--&lt;!&ndash;&ndash;&gt;-->
                        <!--&lt;!&ndash;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->

            </div>
        </div>
    </div>
</main>

<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>