<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="link-styles">
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
        <link rel="stylesheet"
              th:href="@{/css/styles.css}"/>
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                     viewBox="0 0 24 24" focusable="false">
                    <title>Security</title>
                </svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/}">Home</a>

            <a class="py-2 d-none d-md-inline-block">
                <form class="form-inline my-2 my-lg-0" th:action="@{/product/search}" method="post">
                    <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search by Name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </a>
            <a class="py-2 d-none d-md-inline-block"  sec:authorize="isAuthenticated()" th:href="@{/product/search}">Advanced</a>
            <a class="py-2 d-none d-md-inline-block"  sec:authorize="isAuthenticated()" th:href="@{/product/add}">Add Product</a>
            <a class="py-2 d-none d-md-inline-block"  sec:authorize="isAuthenticated()" th:href="@{/product/list}">List Products</a>
            <a class="py-2 d-none d-md-inline-block" sec:authorize="hasAnyRole('ADMIN','MODERATOR')" th:href="@{/admin/account/list}">Account list</a>
            <div class="py-2 d-none d-md-inline-block">
                <a class="maj-2 d-none d-md-inline-block" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                <a class="maj-2 d-none d-md-inline-block" sec:authorize="!isAuthenticated()" th:href="@{/user/register}">Register</a>
                <a class="maj-2 d-none d-md-inline-block" sec:authorize="isAuthenticated()" th:href="@{/user/accountInfo}">My account</a>
                <a class="maj-2 d-none d-md-inline-block" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</th:block>
<th:block th:fragment="footer">
    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
                <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
            </div>
        </div>
    </footer>
</th:block>


<th:block th:fragment="scripts">
    <script  type="text/javascript"  th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script  type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
    <script  type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</th:block>

</body>
</html>