<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
    <div class="container">
    <h1>WELLCUM TO STRIMSZOPEN!</h1>
        <!--<h1 th:text="${tosee}"></h1>-->
    </div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>