<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1><span th:text="${username} + ' products'"></span></h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-md-1">Photos</div>
            <div class="col-md-1">Id</div>
            <div class="col-md-1">Name</div>
            <div class="col-md-1">Price</div>
            <div class="col-md-2">Category</div>
            <div class="col-md-1">Quantity</div>
            <div class="col-md-2" th:align="center">Add Photo</div>
            <div class="col-md-3"></div>
        </div>
        <br/>
        <br/>
        <br/>
        <a th:each="product : ${products}" class="row col-md-12 list-data-row">
            <div class="col-md-1">
                <a th:href="@{'/product/' + ${product.getId()} + '/photos'}">
                    <img id="photo" class="img-thumbnail"
                         th:src="@{'data:image/png;base64,'+${product.convertBinImageToString()}}" alt="photo"/>
                </a>
            </div>
            <div class="col-md-1" th:text="${product.getId()}"></div>
            <div class="col-md-1" th:text="${product.getName()}"></div>
            <div class="col-md-1" th:text="${product.getPrice()}"></div>
            <div class="col-md-2" th:text="${product.getCategory().toString()}"></div>
            <div class="col-md-1" th:text="${product.getQuantity()}"></div>
            <div class="row col-md-5">
                <div class="col-md-4">
                    <form th:action="@{/product/addPhoto}" method="post" th:object="${product}"
                          enctype="multipart/form-data">
                        <input type="hidden" th:name="productId" th:value="*{id}"/>
                        <input class="input-file btn btn-dark col-md-12" type="file" id="image"
                               onchange="this.form.submit();" th:name="photo"/>
                    </form>
                </div>
                <div class="col-md-4">
                    <a class="col-md-12" th:href="@{'/product/edit/' + ${product.getId()}}">
                        <button type="button" class="btn btn-primary col-md-12">
                            Edit
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="col-md-12" th:href="@{'/product/remove/' + ${product.getId()}}">
                        <button type="button" class="btn btn-danger col-md-12">
                            Remove
                        </button>
                    </a>
                </div>
            </div>
    </div>
</div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>