<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product's photos</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="row col-md-12">
    <h1><span th:text="${username} + ' photos'"></span></h1>
    <div class="row col-md-12 list-data-row">
        <div th:each="photo : ${photos}" class="col-md-3 list-header-row thumbnail">
            <a th:href="@{'/photos/'+ ${photo.getId()}}">
                <img class="img-responsive col-md-12"
                     th:src="@{'data:image/png;base64,'+${photo.convertBinImageToString()}}"
                     alt="photo"/>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <a class="col-md-12"
                           th:href="@{'/photos/'+ ${photo.getId()} +'/set'}">
                            <button type="button" class="btn btn-primary col-md-12">
                                Set Main
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="col-md-12"
                           th:href="@{'/photos/'+ ${photo.getId()} + '/remove'}">
                            <button type="button" class="btn btn-danger col-md-12">
                                Remove
                            </button>
                        </a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>