<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product add</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<body>
<div class="container">
    <h1>Dodaj produkt!</h1>
    <form th:action="@{/product/add}" method="post" th:object="${product}" enctype="multipart/form-data">
        <input type="hidden" th:name="id" th:value="*{id}">
        <div class="row col-12 form-container">
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Name: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" th:field="*{name}" th:value="${name}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="price">Price: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" step="0.01" id="price" th:field="*{price}" th:value="*{price}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <select th:field="*{category}" id="category" class="form-control" aria-describedby="phHelp">
                    <option th:each="category : ${categories}" th:text="${category}" th:value="${category}">
                </select>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="quantity">Quantity: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" id="quantity" th:field="*{quantity}" th:value="*{quantity}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row" th:if="*{photos.isEmpty()}">
                <div class="col-md-6">
                    <label for="image">Upload image: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control-file" type="file" id="image" th:name="photo">
                </div>
            </div>
            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>