<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Search result</h1>
    <div class="row col-md-12">
        <div class="row col-md-12 list-header-row">
            <div class="col-md-1">Photos</div>
            <div class="col-md-1">Id</div>
            <div class="col-md-1">Name</div>
            <div class="col-md-1">Price</div>
            <div class="col-md-2">Category</div>
            <div class="col-md-1">Quantity</div>
            <div class="col-md-1">Seller</div>
            <div class="col-md-4"></div>
        </div>
        <br/>
        <br/>
        <br/>
        <a th:each="product : ${products}" class="row col-md-12 list-data-row">
            <div class="col-md-1">
                <a th:href="@{'/product/' + ${product.getId()} + '/photos'}">
                    <img id="photo" class="img-thumbnail"
                         th:src="@{'data:image/png;base64,'+${product.convertBinImageToString()}}" alt="photo"/>
                </a>
            </div>
            <div class="col-md-1" th:text="${product.getId()}"></div>
            <div class="col-md-1" th:text="${product.getName()}"></div>
            <div class="col-md-1" th:text="${product.getPrice()}"></div>
            <div class="col-md-2" th:text="${product.getCategory().toString()}"></div>
            <div class="col-md-1" th:text="${product.getQuantity()}"></div>
            <div class="col-md-1"><a th:href="@{'/user/accountInfo/' + ${product.getOwner().getId()}}"  th:text="${product.getOwner().getUsername()}">
            </a></div>
            <div class="row col-md-4">
                <div class="col-md-12" th:if="${!product.getOwner().getUsername().equals(ownerName)}">
                    <a class="col-md-12" th:href="@{'/product/buy/' + ${product.getId()}}">
                        <button type="button" class="btn btn-success col-md-12">
                            Buy
                        </button>
                    </a>
                </div>
                <div class="col-md-12" th:if="${product.getOwner().getUsername().equals(ownerName)}">
                    <a class="col-md-12">
                        <button type="button" class="btn btn-success disabled col-md-12">
                            Buy
                        </button>
                    </a>
                </div>
            </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>