<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<body>
<div class="container">
    <h1>Search form</h1>
    <form th:action="@{/product/search}" method="post" th:object="${searchDto}">

        <div class="row col-12 form-container">


            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Name: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" th:field="*{name}">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Category: </label>
                </div>
                <div class="col-md-6">
                    <select th:field="*{category}" id="category" class="form-control" aria-describedby="phHelp">
                        <option th:value="null">-</option>
                        <option th:each="category : ${categories}" th:text="${category}" th:value="${category}">
                    </select>
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="from">Price from: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" id="from" th:field="*{from}" th:value="*{from}">
                </div>
            </div>

            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="upTo">Price upTo: </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="number" id="upTo" th:field="*{upTo}" th:value="*{upTo}">
                </div>
            </div>

            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>

        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>